.helo {
    padding : 0 20px;
    height : 5.6rem;
    line-height: 5.6rem;
    font-size: 18px;
    z-index : 1;
    top: 0;
    left: 0;
    position: fixed;
    /* color: black; */
    display: inline-block;
    /* background-color : rgb(12, 12, 12); */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(44, 44, 44, 1));
    width: 100%;
}

