.helo {
    padding : 0 20px;
    height : 5rem;
    line-height: 5rem;
    font-size: 18px;
    z-index : 1;
    top: 0;
    left: 0;
    position: fixed;
    color: black;
    display: inline-block;
    background-color : rgb(12, 12, 12);
    width: 100%;
}

