.lagao-ise {
    /* height: 700px; */
    display: flex;
    width: 100%;
    height: 100%;
    color: aliceblue;
}

.g-b {
    opacity: 1;
    --border-width: 2.9px;
    position: relative;
    display: flex;
    border-radius: calc(2*var(--border-width));
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: linear-gradient(
      90deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 4s alternate infinite;
  }

  .g-b::after {
    position: absolute;
    background: #100e17;
    content: "";
    top: calc(var(--border-width));
    left: calc(var(--border-width));
    z-index: -1;
    width: calc(100% - var(--border-width) * 2);
    height: calc(100% - var(--border-width) * 2);
    border-radius: calc(2*var(--border-width));  
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }  