.svg-space{
    width : 60%;
}

.post-anim {
    display: flex;
    opacity: 0;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transition: opacity 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
                transform 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: opacity 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
                transform 1s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: opacity, transform;
}

.post-anim-vis {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.move-up {
    transform : translateY(-60vh);
    -webkit-transform : translateY(-60vh);
    opacity : 0;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
                        opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1); 
    will-change: transform, opacity;
}

.nah-down {
    transform : translateY(0vh);
    opacity: 1;
    -webkit-transform : translateY(0vh);
}

#inside-post-it:hover{
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    cursor: pointer;
}

.to-image {
    z-index: 1;
    object-fit: contain;
}