.baahar {
    width: 100%;
    height: 700px;
    position: relative;
}

.photu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: absolute;
}

.mid-baahar {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.mid-baahar-padding {
    width: 100%;
    height : 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-zoom:hover {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.top-left{
    flex: 50%;
}

.top-right {
    flex: 50%;
    text-align: right;
}

.bottom-left {
    flex: 50%;
}

.bottom-right {
    flex: 50%;
    text-align: right;
}