html {
    scroll-behavior: smooth;
}

.post-image {
  position : absolute;
  top: 35px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.parent {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 35px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  /* align-items: center; */
  overflow: hidden;
}

.child {
  margin-left: auto;
  order: 2;
}

.caption {
  padding: 8px;
  position: absolute;
  top: 335px;
}
  
.con {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.card {
  display: flex;
  position: relative;
  height: 400px;
  width: 280px;
  background-color: #313131;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /* margin-left: -50px; */
  transition: 0.4s ease-out;
  left: 0px;
  color: aliceblue;
  font-size: 12px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  cursor: pointer;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

/* .title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
} */

/* .bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
} */

/* .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
} */

/* .card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
} */